<?xml version="1.0" encoding="UTF-8"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <klevu>
            <platform_pipelines>
                <configuration_overrides_generation_enabled>1</configuration_overrides_generation_enabled>
            </platform_pipelines>
        </klevu>
    </default>
</config>